@use 'variaveis';

.allMovies {
    position: relative;
    display: flex;
    justify-content: center;

    &__cardMovie {
        visibility: hidden;
        width: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        z-index: 1;
        text-align: center;
        background-color: variaveis.$colorBackgroundCard;
        border: 3px solid variaveis.$colorTextActive;
        border-radius: 5px;
        
        &--show {
            width: 60vw;
            visibility: visible;
            @media (max-width: 480px) {
                width: 90vw;
            }

        }

        &__upBar {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            background-color: variaveis.$colorButton;
            width: 100%;
            height: 40px;
            border-radius: 2px;

            &__btnClose {
                margin-right: 4px;
                height: 24px;
                cursor: pointer;
            }

        }

        &__content {
            display: flex;
            flex-direction: row ;
            align-items: center;
            justify-content: space-evenly;

            &__synopsis {
                width: 60%;
                text-align: start;
                @media (max-width: 768px) {
                    width: 100%;
                    padding: 0 16px;
                }

            }

            &__folder {
                width: 27%;
                @media (max-width: 768px) {
                    visibility: hidden;
                    width: 0;
                }
            }
        }

        &__buttonWatch {
            background-color: variaveis.$colorButtonWatch;
            width: 90%;
            height: 50px;
            margin: 36px 0;
            border-radius: 5px;
            border-style: none;
            box-shadow: 2px 2px 2px variaveis.$textShadow;
            cursor: pointer;

            &:hover {
                background-color: variaveis.$colorButtonWatchHover;
            }
        }
    }

    
    &__container{
        display: flex;
        flex-direction: column;
        align-items: center;

        &__title {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        &__grid-poster {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            row-gap: 48px;
            max-width: 1440px;
            @media (max-width: 1023px) {
                grid-template-columns: 1fr 1fr;
            }
            @media (max-width: 767px) {
                grid-template-columns: 1fr;
            }

            &__item {
                position: relative;
                display: flex;
                justify-content: center;
                max-width: 480px;
                max-height: 720px;
                @media (max-width: 1023px){
                    flex-direction: column;
                    align-items: center;
                }
                

                &__img {
                    width: 60%;
                    cursor: pointer;
                    @media (max-width: 1023px){
                        width: 70%;
                    }
                    @media (max-width: 767px) {
                        width: 80%;
                    }

                    &:hover {
                        opacity: 0.5;
                    }
                }

                &__more {
                    position: absolute;
                    top: 45%;
                    z-index: -1;
                    @media (max-width: 1024px){
                        position: relative;
                        top: 0;
                        z-index: 0;
                        background-color: variaveis.$colorButtonWatch;
                        width: 70%;
                        height: 30px;
                        padding-top: 5px;
                        border-radius: 5px;
                        border-style: none;
                        box-shadow: 2px 2px 2px variaveis.$textShadow;
                        text-align: center;
                    }
                    @media (max-width: 767px) {
                        width: 80%;
                    }
                }
            }
        }
    }
}