@use 'variaveis';

.header {
    position: absolute;
    width: 100%;
    height: 68px;
    background-color: variaveis.$colorBackgroundHeader;
    box-shadow: 2px 2px 2px variaveis.$textShadow;

    &__container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        
        &__logo {
            display: flex;
            justify-content: center;
            width: 20%;

            &__img {
                width: 68px;
                height: 68px;
            }
        }

        &__links-menu {
            width: 50%;

            &__ul {
                list-style: none;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
            }
        }
    }

}