@use 'variaveis';
@use 'header';
@use 'hero';
@use 'allmovies';
@use 'characters';
@use 'gallery';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}

body {
    background-color: variaveis.$colorBackground;
}

@mixin text1($fontSize: 1em) {
    font-size: $fontSize;
    color: variaveis.$colorText;
}

@mixin text2($fontSize: 1em) {
    font-size: $fontSize;
    color: variaveis.$colorText2;
}

.textFirst {
    @include text1;
}

.textSecond {
    @include text2;
}

.text--title1 {
    @include text1(2em);
    text-shadow: 5px 5px 2px variaveis.$textShadow;
}

.text--title2 {
    @include text1(1.5em);
    margin: 25px 0;
}

.text--title3 {
    @include text2(1.1em);
    margin: 25px 0;
}

.textLink {
    @include text2;
    text-decoration: none;
    cursor: pointer;

    &--active {
        color: variaveis.$colorTextActive;
        text-decoration-line: underline;
        text-decoration-color: variaveis.$color_TextActive;
    }
}
