$colorBackground: #1C1C1C;
$colorBackgroundHeader: #1c1c1cee;
$colorBackgroundCard: #E2E2E2;
$colorTextActive: #007FD7;
$color_TextActive: #DE0606;
$colorText: #E2E2E2;
$colorText2: #3F3F3F;
$colorText3: #007FD7;
$textShadow: #3F3F3F;
$colorButton: #DE0606;
$colorButtonHover: #FF0000;
$colorButtonWatch: #007FD7;
$colorButtonWatchHover: #0095ff;